@using MachineMaintenanceApp.Web.ViewModels.Home
@model ArgumentErrorViewModel
@{
    ViewData["Title"] = "Argument Error";
}

    <div class="text-center">
        <p class="text-danger">@Model.Message.</p>
        <img src="https://usabilitygeek.com/wp-content/uploads/2020/02/Picture1.jpg" />
    </div>

