@using MachineMaintenanceApp.Web.ViewModels.Administration.PlannedRepairs.Details
@using MachineMaintenanceApp.Data.Models.Enums
@using MachineMaintenanceApp.Data.Common.Helpers
@model AdminPlannedRepairsDetailsViewModel
@{
    ViewData["Title"] = "Details";
}

@{

    var nextRepair = (Model.EndTime.AddDays(Model.RepairsIntervalDays)).ToString("MM/dd/yyyy");

    var myEnum = EnumHelper<RepairType>.GetDisplayValue(Model.Type);

}

<h1 class="text-center">Details</h1>
<hr />
<div>
    <div class="form-group">
        <label asp-for="Type"></label>
        <input value="@myEnum" readonly class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="StartTime"></label>
        <time datetime="@Model.StartTime.ToString("O")" readonly class="form-control"></time>
    </div>
    <div class="form-group">
        <label asp-for="EndTime"></label>
        <time datetime="@Model.EndTime.ToString("O")" readonly class="form-control"></time>
    </div>
    <div class="form-group">
        <label asp-for="RepairsIntervalDays"></label>
        <input asp-for="RepairsIntervalDays" readonly class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="MachineInventoryNumber"></label>
        <input asp-for="MachineInventoryNumber" readonly class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="UserLastName"></label>
        <input asp-for="UserLastName" readonly class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="PartNumber"></label>
        <input asp-for="PartNumber" readonly class="form-control" />
    </div>
    <div class="form-group">
        <label for="duration">Next Repair</label>
        <input type="text" name="nextRepair" value="@nextRepair" readonly class="form-control">
    </div>
    <div class="form-group">
        <label asp-for="Description"></label>
        <textarea asp-for="Description" readonly class="form-control"></textarea>
    </div>
    <div class="text-center">
        <a href="/Administration/PlannedRepair/PlannedRepairsPage/@Model.MachineId">
            <input type="submit" value="Back" class="btn btn-secondary" />
        </a>
        @if (Model.IsDeleted == true)
        {
            <a href="/Administration/PlannedRepair/Undelete/@Model.Id">
                <input type="submit" value="Undelete" class="btn btn-success" />
            </a>
        }
        else
        {
            <a href="/Administration/PlannedRepair/Delete/@Model.Id">
                <input type="submit" value="Delete" class="btn btn-danger" />
            </a>

            <a href="/Administration/PlannedRepair/Edit/@Model.Id">
                <input type="submit" value="Edit" class="btn btn-warning" />
            </a>
        }

    </div>
</div>




